In [169]:
import pandas as pd
from datetime import datetime, timedelta

In [170]:
st = pd.read_csv('data/stream_data.csv')

In [171]:
bt = pd.read_csv('data/batch_data.csv')

In [172]:
stmin = st.timestamp.min()
btmax = bt.timestamp.max()

In [173]:
btmax, stmin

('2024-12-07 23:59:00', '2024-12-08 00:00:00')

In [174]:
def get_diff(time):
    # Parse the time string into a datetime object
    original_time = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')

    checkpoint = '2024-11-30 23:59:00'
    # Get the current time
    current_time = datetime.strptime(checkpoint, '%Y-%m-%d %H:%M:%S')

    diff = current_time - original_time
    return diff

In [175]:
diff_bt = get_diff(btmax)
diff_st = get_diff(stmin)

In [176]:
def shift_time(time, diff, tag='bt'):
    # Parse the time string into a datetime object
    original_time = datetime.strptime(time, '%Y-%m-%d %H:%M:%S')
    
    updated_time = original_time + diff
    if tag != 'bt':
        updated_time += timedelta(minutes=1)

    updated_time_string = updated_time.strftime('%Y-%m-%d %H:%M:%S')
    return updated_time_string

In [177]:
bt['timestamp'] = bt['timestamp'].map(lambda time: shift_time(time, diff_bt, tag='bt'))

In [178]:
st['timestamp'] = st['timestamp'].map(lambda time: shift_time(time, diff_st, tag='st'))

In [ ]:
# bt.to_csv('data/batch_data.csv', index=False)
# st.to_csv('data/stream_data.csv', index=False)

In [180]:
bt

                 timestamp      open      high       low     close    volume
0      2024-10-31 00:00:00  28562.96  28600.00  28557.01  28590.14  74.75617
1      2024-10-31 00:01:00  28590.15  28599.99  28580.36  28580.36  37.01170
2      2024-10-31 00:02:00  28580.36  28595.46  28575.00  28577.99  35.82728
3      2024-10-31 00:03:00  28577.99  28592.99  28575.00  28592.99  42.39685
4      2024-10-31 00:04:00  28592.98  28595.93  28577.69  28590.62  38.49730
...                    ...       ...       ...       ...       ...       ...
44635  2024-11-30 23:55:00  29612.04  29622.90  29598.22  29607.77  48.64359
44636  2024-11-30 23:56:00  29607.78  29610.09  29606.36  29610.08   4.51003
44637  2024-11-30 23:57:00  29610.09  29630.84  29608.87  29627.81  13.69622
44638  2024-11-30 23:58:00  29627.81  29639.54  29611.49  29611.50  23.02537
44639  2024-11-30 23:59:00  29611.49  29625.83  29584.92  29584.92  35.57050

[44640 rows x 6 columns]

In [181]:
st

                  timestamp      open      high       low     close    volume
0       2024-12-01 00:00:00  29584.92  29587.77  29575.44  29577.73  26.78170
1       2024-12-01 00:01:00  29577.73  29580.85  29565.24  29569.94  44.94119
2       2024-12-01 00:02:00  29569.94  29569.96  29539.59  29549.03  60.39912
3       2024-12-01 00:03:00  29549.03  29550.71  29527.00  29539.16  77.06884
4       2024-12-01 00:04:00  29539.16  29556.71  29539.16  29548.34  33.71610
...                     ...       ...       ...       ...       ...       ...
125995  2025-02-26 11:55:00  28896.00  28907.42  28893.03  28907.41  37.74657
125996  2025-02-26 11:56:00  28907.41  28912.74  28907.41  28908.53  15.89610
125997  2025-02-26 11:57:00  28908.52  28908.53  28902.48  28902.49  11.52263
125998  2025-02-26 11:58:00  28902.48  28902.49  28902.48  28902.49   4.77589
125999  2025-02-26 11:59:00  28902.48  28902.49  28902.48  28902.49   4.68658

[126000 rows x 6 columns]

In [214]:
raw = st.iloc[:2].to_dict()

In [215]:
import csv

In [216]:
# Prepare the header (column names) and rows (data)
header = list(raw.keys())
rows = [ [raw[col][i] for col in header] for i in range(len(raw['timestamp'])) ]

In [217]:
header

['timestamp', 'open', 'high', 'low', 'close', 'volume']

In [218]:
rows

[['2024-12-01 00:00:00', 29584.92, 29587.77, 29575.44, 29577.73, 26.7817],
 ['2024-12-01 00:01:00', 29577.73, 29580.85, 29565.24, 29569.94, 44.94119]]

In [221]:

# Write to CSV
with open('output.csv', mode='w') as file:    
    # Write the header
    file.write(f'{",".join(map(str, header))}')
    
    # Write the rows
    for row in rows:
        file.write(f"{','.join(map(str, row))}\n")

print("Data has been written to 'output.csv'")

Data has been written to 'output.csv'